# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R.
3. Julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Plotly
4. Numpy

|Data Science Tools |
|-----|
|Jupyter Notebooks|
|Apache Spark  |
| Git and GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes_to_hour = 60
hours = minutes / minutes_to_hour
print(hours)

3.3333333333333335

**Objectives:**

- Python
- R.
- Julia
- SQL

## Author
Katleho